{% load static %}
{% include "managers/header.html" %}
{% include "managers/sidebar.html" %}
{% include "managers/topbar.html" %}

      <div class="page_wrapper">
        <div class="page-content">
          <div class="page-breadcrumb d-sm-flex align-items-center mb-3">
            <div class="breadcrumb-title pe-3">My Profile</div>
            <div class="ps-3">
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb mb-0 p-0">
                  <li class="breadcrumb-item">
                    <a href="index.html">
                      <i class="bx bx-home"></i>
                    </a>
                  </li>
                  <li class="breadcrumb-item active" aria-current="page">My Profile</li>
                </ol>
              </nav>
            </div>
            <div class="ms-auto">
              <div class="btn-group">
                <button type="button" class="btn btn-outline-orangeyellow" data-bs-toggle="modal" data-bs-target="#updateprofileModal" id="updateprofileBtn">
                  <i class="bx bx-plus"></i> Update Profile
                </button>
                <button type="button" class="btn btn-outline-orangeyellow ms-2" data-bs-toggle="modal" data-bs-target="#uploaddocumentsModal" id="uploaddocumentsBtn">
                  <i class="bx bx-plus"></i> Upload Documents
                </button>
                <div class="modal" id="updateprofileModal">
                  <div class="modal-dialog w-80">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Update Profile</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <form method="post" action="" enctype="multipart/form-data">
                                    {% csrf_token %}
                          <div class="accordion" id="accordionExample">
                            <div class="accordion-item">
                              <h2 class="accordion-header" id="profile">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#profile-img" aria-expanded="true" aria-controls="profile-img">Profile Picture</button>
                              </h2>
                              <div id="profile-img" class="accordion-collapse collapse show" aria-labelledby="profile" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                  <div class="row mb-2">
                                    <div class="col">
                                      <div class="d-block align-items-center m-auto text-center edit-profile">
                                        <div class="fm-icon-box radius-50 m-auto">
                                          <img src="" class="img-fluid user-img">
                                          <input class="upload" type="file" name="manager_image" value="{{profile.manager_image}}">
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="accordion-item">
                              <h2 class="accordion-header" id="professional">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#professional-information" aria-expanded="true" aria-controls="professional-information">Professional Information</button>
                              </h2>
                              <div id="professional-information" class="accordion-collapse collapse" aria-labelledby="professional" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                  <div class="row mb-2">
                                    <div class="col-md-6">
                                      <label for="birth-date" class="form-label">Birth Date</label>
                                      <input  class="form-control" id="birth-date" type="text" name="manager_birth_date" value="{{profile.manager_birth_date}}">
                                    </div>
                                    <div class="col-md-6">
                                      <label for="gender" class="form-label">Gender</label>
                                      <select class="form-select" aria-label="Default select example" value="{{profile.manager_gender}}" name="manager_gender">
                                        <option selected>Select Gender</option>
                                       	{% ifequal profile.manager_gender "Male" %}
															<option value="Male" selected>Male</option>
															{% else %}
															<option value="Male">Male</option>
															{% endifequal %}
															{% ifequal profile.manager_gender "Female" %}
															<option value="Female" selected>Female</option>
															{% else %}
															<option value="Female">Female</option>
															{% endifequal %}
                                      </select>
                                    </div>
                                  </div>
                                  <div class="row mb-2">
                                    <div class="col-md-6">
                                      <label for="address" class="form-label">Address</label>
                                   <input type="text" class="form-control" id="address" rows="3" name="manager_address" value="{{profile.manager_address}}">
                                    </div>
                                  </div>
                                  <div class="row mb-2">
                                    <div class="col-md-6">
                                      <label for="state" class="form-label">State</label>
                                      <input type="text" class="form-control" id="state" name="manager_state" value="{{profile.manager_state}}">
                                    </div>
                                    <div class="col-md-6">
                                      <label for="country" class="form-label">Country</label>
                                      <input type="text" class="form-control" id="country" name="manager_country" value="{{profile.manager_country}}">
                                    </div>
                                  </div>
                                  <div class="row mb-2">
                                    <div class="col-md-6">
                                      <label for="pin code" class="form-label">Pin Code</label>
                                      <input type="text" class="form-control" id="pin code"  name="manager_pin_code" value="{{profile.manager_pin_code}}">
                                    </div>
                                    <div class="col-md-6">
                                      <label for="phone-number" class="form-label">Phone Number</label>
                                      <input type="text" class="form-control" id="phone-number" name="manager_phone" value="{{profile.manager_phone}}">
                                    </div>
                                  </div>                                  
                                </div>
                              </div>
                            </div>
                            <div class="accordion-item">
                              <h2 class="accordion-header" id="personal">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#personal-information" aria-expanded="false" aria-controls="personal-information">Personal Information</button>
                              </h2>
                              <div id="personal-information" class="accordion-collapse collapse" aria-labelledby="personal" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                  <div class="row mb-2">
                                    <div class="col-md-6">
                                      <label for="name" class="form-label">Name</label>
                                      <input type="text" class="form-control" id="name" name="fullname" value="{{profile.manager_first_name}} {{profile.manager_last_name}}">
                                    </div>
                                    <div class="col-md-6">
                                      <label for="father-name" class="form-label">Father Name</label>
                                      <input type="text" class="form-control" id="father-name" name="manager_father" value="{{profile.manager_father}}">
                                    </div>
                                  </div>
                                  <div class="row mb-2">
                                    <div class="col-md-6">
                                      <label for="mother-name" class="form-label">Mother Name</label>
                                      <input type="text" class="form-control" id="mother-name"  name="manager_mother" value="{{profile.manager_mother}}">
                                    </div>
                                    <div class="col-md-6">
                                      <label for="nationality" class="form-label">Nationality <span class="text-danger">*</span></label>
                                      <input type="text" class="form-control" id="nationality" ame="manager_nationality" value="{{profile.manager_nationality}}" required>
                                    </div>
                                  </div>
                                  <div class="row mb-2">
                                    <div class="col-md-6">
                                      <label for="status" class="form-label">Marital Status <span class="text-danger">*</span></label>
                                      <select class="form-select" aria-label="Default select example" name="manager_marital_status" required>
                                        <option selected>Select Marital Status</option>
                                        	{% ifequal profile.manager_marital_status "Single" %}
														<option value="Single" selected>Single</option>
													{% else %}
														<option value="Single">Single</option>
													{% endifequal %}
													{% ifequal profile.manager_marital_status "Married" %}
														<option value="Married" selected>Married</option>
													{% else %}
														<option value="Married">Married</option>
													{% endifequal %}
                                      </select>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="accordion-item">
                              <h2 class="accordion-header" id="emergency">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#emergency-contact" aria-expanded="false" aria-controls="emergency-contact">Emergency Contact</button>
                              </h2>
                              <div id="emergency-contact" class="accordion-collapse collapse" aria-labelledby="emergency" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                  <div class="row mb-2">
                                    <div class="col-md-6">
                                      <label for="name" class="form-label">Name <span class="text-danger">*</span></label>
                                      <input type="text" class="form-control" id="name" name="manager_emergency_primary_name" value="{{profile.manager_emergency_primary_name}}" required>
                                    </div>
                                    <div class="col-md-6">
                                      <label for="relationship" class="form-label">Relationship <span class="text-danger">*</span></label>
                                      <input type="text" class="form-control" id="relationship"  name="manager_emergency_primary_relationship" value="{{profile.manager_emergency_primary_relationship}}" required>
                                    </div>
                                  </div>
                                  <div class="row mb-2">
                                    <div class="col-md-6">
                                      <label for="phone-number" class="form-label">Phone Number <span class="text-danger">*</span></label>
                                      <input type="text" class="form-control" id="phone-number" name="manager_emergency_primary_phone1" value="{{profile.manager_emergency_primary_phone1}}" required>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="accordion-item">
                              <h2 class="accordion-header" id="education">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#education-information" aria-expanded="false" aria-controls="education-information">Education Informations</button>
                              </h2>
                              <div id="education-information" class="accordion-collapse collapse" aria-labelledby="education" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                  <div class="row mb-2">
                                    <div class="col-md-6">
                                      <label for="institution-name" class="form-label">Instiution</label>
                                      <input type="text" class="form-control" id="institution-name" name="manager_education_institution" value="{{profile.manager_education_institution}}">
                                    </div>
                                    <div class="col-md-6">
                                      <label for="subject-name" class="form-label">Subject</label>
                                      <input type="text" class="form-control" id="subject-name" name="manager_education_subject" value="{{profile.manager_education_subject}}">
                                    </div>
                                  </div>
                                  <div class="row mb-2">
                                    <div class="col-md-6">
                                      <label for="start-date" class="form-label">Starting Date</label>
                                      <input  class="form-control" id="start-date"  type="text" name="manager_education_starting_date" value="{{profile.manager_education_starting_date}}">
                                    </div>
                                    <div class="col-md-6">
                                      <label for="complete-date" class="form-label">Complete Date</label>
                                      <input  class="form-control" id="complete-date" type="text" name="manager_education_complete_date" value="{{profile.manager_education_complete_date}}">
                                    </div>
                                  </div>
                                  <div class="row mb-2">
                                    <div class="col-md-6">
                                      <label for="degree-name" class="form-label">Degree</label>
                                      <input type="text" class="form-control" id="degree-name" name="manager_education_degree" value="{{profile.manager_education_degree}}">
                                    </div>
                                    <div class="col-md-6">
                                      <label for="grade" class="form-label">Grade</label>
                                      <input type="text" class="form-control" id="grade" name="manager_education_grade" value="{{profile.manager_education_grade}}" required>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="accordion-item">
                              <h2 class="accordion-header" id="experience">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#experience-information" aria-expanded="false" aria-controls="experience-information">Experience</button>
                              </h2>
                              <div id="experience-information" class="accordion-collapse collapse" aria-labelledby="experience" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                  <div class="row mb-2">
                                    <div class="col-md-6">
                                      <label for="company-name" class="form-label">Company Name</label>
                                      <input type="text" class="form-control" id="company-name" name="manager_experience_company_name" value="{{profile.manager_experience_company_name}}">
                                    </div>
                                    <div class="col-md-6">
                                      <label for="location" class="form-label">Location</label>
                                      <input type="text" class="form-control" id="location" name="manager_experience_company_location" value="{{profile.manager_experience_company_location}}">
                                    </div>
                                  </div>
                                  <div class="row mb-2">
                                    <div class="col-md-6">
                                      <label for="job-position" class="form-label">Job Position</label>
                                      <input type="text" class="form-control" id="job-position" name="manager_experience_company_job_position" value="{{profile.manager_experience_company_job_position}}">
                                    </div>
                                    <div class="col-md-6">
                                      <label for="period-from" class="form-label">Period From</label>
                                      <input type="text" class="form-control" id="period-from"  name="manager_experience_company_period_from" value="{{profile.manager_experience_company_period_from}}">
                                    </div>                                        
                                  </div>
                                  <div class="row mb-2">
                                    <div class="col-md-6">
                                      <label for="period-to" class="form-label">Period To</label>
                                      <input type="text" class="form-control" id="period-to" name="manager_experience_company_period_to" value="{{profile.manager_experience_company_period_to}}">
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>                              
                          <div class="submit-section">
                            <button  class="btn btn-outline-orangeyellow">Submit</button>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal" id="uploaddocumentsModal">
                  <div class="modal-dialog w-80">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Upload Documents</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <form method="POST" action="{% url 'create_ducument' company_id=company_id company_staff_id=company_staff_id %}">
                {% csrf_token %}
                          <div class="row mb-2">
                            <div class="col-md-6">
                              <label for="experience-letter" class="form-label">Experience Letter <span class="text-danger">*</span></label>
                              <input class="form-control" type="file"  id="experience-letter" name="experience_letter" required>
                            </div>
                            <div class="col-md-6">
                              <label for="offer-letter" class="form-label">Offer Letter <span class="text-danger">*</span></label>
                              <input class="form-control" type="file"  id="offer-letter" name="offer_letter" required>
                            </div>
                          </div>
                          <div class="row mb-2">
                            <div class="col-md-6">
                              <label for="education-certificate" class="form-label">Education Certificate <span class="text-danger">*</span></label>
                              <input class="form-control" type="file"  id="education-certificate" name="education_certificate" required>
                            </div>
                            <div class="col-md-6">
                              <label for="skill-certificate" class="form-label">Skill Certificate <span class="text-danger">*</span></label>
                              <input class="form-control" type="file"  id="skill-certificate" name="skill_certificate" required>
                            </div>
                          </div>
                          <div class="mt-4 mb-2 button-right">
                            <button type="submit" class="btn btn-outline-orangeyellow">Upload</button>
<!--                            <button type="button" class="btn btn-outline-orangeyellow ms-2" data-bs-toggle="modal" data-bs-target="#uploadeddocumentsModal" id="uploadeddocumentsBtn" onclick="document_details_fetch('{{post.pk}}')">Uploaded Files</button>-->
                            <a href="{% url 'document_View' company_id=company_id company_staff_id=company_staff_id %}" class="btn btn-outline-orangeyellow ms-2">Uploaded Files</a>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal" id="uploadeddocumentsModal">
                  <div class="modal-dialog w-80">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Uploaded Documents</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <table class="table table-fluid table-bordered table-hover">
                          <tbody>
                            <tr>
                              <th>Experience Letter</th>
                               <td><a href="{{ post.experience_letter.url }}"  download ><img src="" id="employee_experience_heading" class="img-fluid user-img"></a></td>
                            </tr>
                            <tr>
                              <th>Offer Letter</th>
                              <td><a href="#">Offer Letter Document</a></td>
                            </tr>
                            <tr>
                              <th>Education Certificate</th>
                              <td><a href="#">Education Certificate Document</a></td>
                            </tr>
                            <tr>
                              <th>Skill Certificate</th>
                              <td><a href="#" class="">Skill Certificate Document</a></td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <hr>
          <div class="row mt-3">
            <div class="col">
              <div class="card shadow-none border radius-15">
                <div class="card-body profile-info">
                  <div class="d-block align-items-center m-auto w-50 text-center">
                    <div class="fm-icon-box radius-15">
                      	{% if profile.manager_image  %}
                      <img src="{{profile.manager_image.url}}" class="img-fluid user-img" id='manager_image'>
                         {% endif %}
                      <h5 class="mt-3 mb-0">{{profile.manager_first_name}} {{profile.manager_last_name}}</h5>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <table class="table table-fluid table-bordered table-striped caption-top">
                        <caption>Professional Information</caption>
                        <tr>
                          <th>Employee ID</th>
                          <td>{{profile.manager_id}}</td>
                        </tr>
                        <tr>
                          <th>Department</th>
                          <td>{{profile.manager_department}}</td>
                        </tr>
                        <tr>
                          <th>Date of Join</th>
                          <td>{{profile.manager_joining_date}}</td>
                        </tr>
                        <tr>
                          <th>Phone</th>
                          <td>{{profile.manager_phone}}</td>
                        </tr>
                        <tr>
                          <th>Email</th>
                          <td>{{profile.manager_email}}</td>
                        </tr>
                        
                        <tr>
                          <th>Birthday</th>
                          <td>{{profile.manager_birth_date}}</td>
                        </tr>
                        <tr>
                          <th>Address</th>
                          <td>{{profile.manager_address}}</td>
                        </tr>                              
                        <tr>                                
                          <th>Gender</th>
                          <td>{{profile.manager_gender}}</td>
                        </tr>                                                                       
                      </table>
                      <table class="table table-fluid table-bordered table-striped caption-top">
                        <caption>Education Information</caption>
                          <tr>
                            <td>
                              <ul>
                                <li>
                                  <div class="education-user">
                                    <div class="before-circle"></div>
                                  </div>
                                  <div class="education-content">
                                    <b class="institution-name">{{profile.manager_education_institution}}</b><br>
                                    <span class="subject-name">{{profile.manager_education_subject}}</span><br>
                                    <span class="degree-name">{{profile.manager_education_degree}}</span><br>
                                    <span class="grade-name">{{profile.manager_education_grade}}</span><br>
                                    <sub><span class="start-date">{{profile.manager_education_starting_date}}</span> - <span class="end-date">{{profile.manager_education_complete_date}}</span></sub>
                                  </div>
                                </li>
                              </ul>
                            </td>
                          </tr>
                        </table>
                    </div>
                    <div class="col-md-6">
                      <table class="table table-fluid table-bordered caption-top table-striped">
                        <caption>Personal Information</caption>
                        <tr>
                          <th>Name</th>
                          <td>{{profile.manager_first_name}} {{profile.manager_last_name}}</td>
                        </tr>
                        <tr>
                          <th>Father Name</th>
                          <td>{{profile.manager_father}}</td>
                        </tr>
                        <tr>
                          <th>Mother Name</th>
                          <td>{{profile.manager_mother}}</td>
                        </tr>
                        <tr>
                          <th>Nationality</th>
                          <td>{{profile.manager_nationality}}</td>
                        </tr>
                        <tr>
                          <th>Marital Status</th>
                          <td>{{profile.manager_marital_status}}</td>
                        </tr>
                      </table>
                      <table class="table table-fluid table-bordered caption-top table-striped">
                        <caption>Emergency Contact</caption>
                        <tr>
                          <th class="w-25">Name</th>
                          <td class="w-25">{{profile.manager_emergency_primary_name}}</td>
                        </tr>
                        <tr>
                          <th class="w-25">Relationship</th>
                          <td class="w-25">{{profile.manager_emergency_primary_relationship}}</td>
                        </tr>
                        <tr>
                          <th class="w-25">Phone</th>
                          <td class="w-25">{{profile.manager_emergency_primary_phone1}}</td>
                        </tr>
                      </table>
                      <table class="table table-fluid table-bordered table-striped caption-top">
                        <caption>Experience</caption>
                        <tr>
                          <td>
                            <ul>
                              <li>
                                <div class="experience-user">
                                  <div class="before-circle"></div>
                                </div>
                                <div class="experience-content">
                                  <b class="institution-name">{{profile.manager_experience_company_name}}</b><br>
                                  <span class="subject-name">{{profile.manager_experience_company_job_position}}</span><br>
                                  <sub><span class="start-date">{{profile.manager_experience_company_period_from}}</span> - <span class="end-date">{{profile.manager_experience_company_period_to}}</span></sub>
                                </div>
                              </li>
                            </ul>
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>                  
                </div>
              </div>
            </div>
          </div>
        </div>
        <footer class="page-footer">
          <p class="mb-0">Copyright © 2021. All right reserved.</p>
        </footer>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://unpkg.com/simplebar@latest/dist/simplebar.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/metisMenu/3.0.7/metisMenu.min.js"></script>
    <script src="https://unpkg.com/boxicons@2.1.2/dist/boxicons.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/all.min.js"></script>
    <script src="{% static 'asets/js/jquery.sparkline.min.js' %}"></script>
    <script src="{% static 'asets/js/Chart.min.js' %}"></script>
    <script src="{% static 'asets/js/Chart.extension.js' %}"></script>
    <script src="{% static 'asets/js/script.js' %}"></script>


     <script>
            function document_details_fetch(id){


        // Ajax POST Request
           var employee_experience_heading = document.getElementById("employee_experience_heading");
           var employee_offer_letter_heading = document.getElementById("employee_offer_letter_heading");
           var employee_education_certificate_heading = document.getElementById("employee_education_certificate_heading");
           var employee_skill_certificate_heading = document.getElementById("employee_skill_certificate_heading");


        $.ajax({
                  url: '{% url "all_document_View"  company_id=company_id company_staff_id=company_staff_id  %}',
                  method: "POST",
                  processData: false,
                  contentType: 'application/json',
                  mimeType: "multipart/form-data",
                  headers: {'X-CSRFToken': "{{csrf_token}}", "Content-Type":"application/json"},
                  data: JSON.stringify({'id': id}),
                  dataType: "json",
                  success: function(res){


                  employee_experience_heading.src = res['experience_letter'];
                  employee_offer_letter_heading.src = res['offer_letter'];
                  employee_education_certificate_heading.src = res['education_certificate'];
                  employee_skill_certificate_heading.src = res['skill_certificate'];

                },
                error: function(xhr, status, error){
                  console.log(error);
                  console.log(status);
                  console.log(xhr);
                }
        })
      }
    </script>
    
  </body>
</html>